.box1{
    background-color: lightblue;
    width: 20%;
    height: 700px;
    border: 2px solid black;
    margin: 2em 1em ;
    
}

.box2{
    background-color: aquamarine;
    width: 20%;
    height: 700px;
    border: 2px solid black ;
    margin: 2em 1em ;
}

.box3{
    background-color: bisque;
    width: 20%;
    height: 700px;
    border: 2px solid black ;
    margin:  2em 1em ;
}

.box4{
    background-color: lightcoral;
    width: 20%;
    height: 700px;
    border: 2px solid black ;
    margin:  2em 1em  ;
}

body{
    display: flex;
    justify-content: center;
}

img{
    width: 300px;
    margin: 1em;
}

.container{
    display: flex; /*buat nyamain ukuran*/
    background-color: aquamarine;
}